<div style="margin-top: 100px;">
    <h1 style="text-align: center;">Spin and I will buy you the gift</h1>
</div>

<div class="container">
    <div class="spinBtn" (click)="spin()">Spin</div>
    <div class="wheel" #wheel>
        <div class="number" style="--i: 1; --clr: #db7093">
            <span> $500 </span>
        </div>
        <div class="number" style="--i: 2; --clr: #20b2aa">
            <span> Haircare </span>
        </div>
        <div class="number" style="--i: 3; --clr: #d63e92">
            <span> Painting </span>
        </div>
        <div class="number" style="--i: 4; --clr: #daa520">
            <span> Skincare </span>
        </div>
        <div class="number" style="--i: 5; --clr: #ff340f">
            <span> Handbag </span>
        </div>
        <div class="number" style="--i: 6; --clr: #ff7f50">
            <span> Shoes </span>
        </div>
        <div class="number" style="--i: 7; --clr: #3cb371">
            <span> Clothes </span>
        </div>
        <div class="number" style="--i: 8; --clr: #4169e1">
            <span> Jewelries </span>
        </div>
    </div>
</div>
