<div id="main">
    <div id="error">
        Trình duyệt của bạn không được hỗ trợ. Hoặc sử dụng (<a
            href="http://www.google.cn/chrome"
            >Chrome</a
        >) và (<a href="http://firefox.com/download/">Firefox</a>)
    </div>
    <div id="wrap">
        <div id="clock-box">
            <span class="STYLE1"></span>
            <font color="#FF0000"> Long <3 Yến </font>
            <span class="STYLE1"> Time of love...</span>
            <div id="clock"></div>
        </div>
        <canvas id="canvas" width="1100" height="680"></canvas>
    </div>
</div>
